.flex-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-field-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
text-align: justify;
max-width: 500px;
}
.about-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.about-top-pad{
    padding-top: 100px;
    }
    .about-content-pad{
   padding-bottom: 60px;
    
    }

